body{
    padding: 50px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(38, 207, 81);
    background-color: rgb(49, 37, 37);
}
.logo{
    width: 50px;
    max-width: 50px;
    min-width: 15px;
}
.cabeçalho{
    
    padding-left: 150px;
    display: flex;
    flex-direction: row; 
    justify-content: start;
    gap: 250px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(31, 206, 54) ;
}
a:hover{
    color: rgb(17, 14, 219);;
}
.pedidos{
    border-top: solid;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#lanche1{display: flex;}
#lanche2{display: flex;}
#lanche3{display: flex;}
#lanche4{display: flex;}
#lanche5{display: flex;}
#bedida1{display: flex;}
#bebida2{display: flex;}
#bebida3{display: flex;}
#bebida4{display: flex;}
#bebida5{display: flex;}
#adicional1{display: flex;}
#adicional2{display: flex;}
#adicional3{display: flex;}
#adicional4{display: flex;}
#adicional5{display: flex;}
.dados{
    border-top: solid;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content:start;
    gap: 25px;
    padding-left: 90px;
}
.receita{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
img{
    padding-left: 200px;
    width: 300px;
}
img:hover{
    transform: scale(1.1);
    transition: 1s;
    filter: invert(100%);
}
footer{
    border-top: solid;
    padding-top: 50px;
}
.redes_sociais{
    gap: 80px;
    display: flex;
    flex-direction: row;
    width: 250px;
    padding-left: 450px;
}
svg{
    text-align: center;
}
